@import './common.scss';
@import './ypy.scss';


#banner{
 width: 300px;
 height: 600px;
}
 



#legalBtn{	
	@include pos(220, 0);	
	width: 72px;
	// opacity: 1;
}

 

.logo{		
	width: 69px;		
	bottom: -2px;
	left:0px
}


svg#fire{
	@include pos-scale(45, -14, 0);
	
	width: 15px;	
	bottom:-3px;
	left:0;	
}