@import './common.scss';
@import './ypy.scss';

#banner{
 width: 320px;
 height: 50px; 
}



 

.legal{
	// display: none;
}

#legalBtn{	
	@include pos(280, 0);	
	width: 40px;

	// display: none;
	// opacity: 1 !important;
}


#legalContent{
	font-size: 7px;
	line-height: 9px;
	padding: 1px;
	br{
		display: none;
	}
}


svg#fire{
	@include pos-scale(28, -12, 0);
	width: 9px;	
	
}



.logo{	
	
	width: 44px;	
	bottom: -2px;
	
}
