@import '../../../_common/styles/b320x50.scss';
@import '../../../_common/styles/composite.scss';

.shapes{
	position: relative;
	
}
 .shapes svg{
 	width: 30px;
 	position: absolute;
 	top:0;
 	left:0;
 }
 

 #tri, #circle{
 	opacity:0;
 }