@import '../../../_common/styles/b160x600.scss';
@import '../../../_common/styles/composite.scss';



.shapes{
	position: relative;
	
}
 .shapes svg{
 	width: 30px;
 	position: absolute;
 	top:0;
 	left:0;
 }
 

 #tri, #circle{
 	opacity:0;
 }

 svg#fire{
	@include pos-scale(55, -18, 0);
	
	width: 14px;	
	bottom:-3px;
	left:0;	
}

