@import '../../../_common/styles/b300x250.scss';
@import '../../../_common/styles/composite.scss';

.shapes{
	position: relative;
	
}
 .shapes svg{
 	width: 30px;
 	position: absolute;
 	top:0;
 	left:0;
 }

 .yellow{
 	// fill:#fed925;
 }


  .green{
 	// fill:#8fc640;
 }

 .blue polygon{
 	// fill:#68cef6
 }

 #tri, #circle{
 	opacity:0;
 }