@import '../../../_common/styles/b300x250.scss';
@import '../../../_common/styles/composite.scss';

.shapes{
	position: relative;
	
}
 .shapes svg{
 	width: 30px;
 	position: absolute;
 	top:0;
 	left:0;
 }
 

 #tri, #circle{
 	opacity:0;
 	transform-origin: 50% 50%;
 	transform: translate(-50%, -50%);
 }

 svg#fire{
	@include pos-scale(39, -12, 0);
	
	width: 12px;	
	bottom:-3px;
	left:0;	
}